nav{
  background-color: rgb(176, 75, 135);
  list-style-type: none;
  font-size: 14pt;
  margin-left: auto;
  margin-right:auto;
  width: 100%;
  left: 50px;

}

.logo{
    background-color: white;
    padding: 0px;
    position: relative;
    left: 75px;
    display: inline-block;
    font-family: 'Bebas Neue', Times, serif;
    font-size: 16px;
    text-decoration: none;

}

.dropbtn {
  background-color: rgb(176, 75, 135);
  color: black;
  padding: 30px 30px;
  font-size: 18px;
  font-family: 'Berlin Sans FB', sans-serif;
  border: none;
  cursor: pointer;
}

.profil, .paket1, .paket2, .aboutus, .paket3 {
  position: relative;
  left: 100px;
  display: inline-block;
  font-family: 'Berlin Sans FB', sans-serif;
  font-size: 14px;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f6}

.paket1:hover .dropdown-content, .paket2:hover .dropdown-content, .aboutus:hover .dropdown-content {
  display: block;
}

.profil:hover .dropbtn, .paket1:hover .dropbtn, .paket2:hover .dropbtn, .aboutus:hover .dropbtn{
  background-color: rgb(200, 75, 135);
}

/*subheader page event - for search event based on date and time
form{
  background-color: rgb(244, 181, 208);
  color: black;
  font-family: 'Berlin Sans FB', sans-serif;
}
*/

footer{
  background-color: rgb(180,180,180);
  list-style-type: none;
  color: black;
  font-size: 12pt;
  margin: 0;
  padding: 20px;
  column-count: 3;
  text-align: center;
}

#copyright{
  font-size: 12pt;
  margin: 10px 0;
}
