* {box-sizing: border-box;}
body {font-family: "Berlin Sans FB", sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: 20px auto auto auto;
}

/* Caption text */
.text {
  color: black;
  font-size: 15px;
  padding: 20px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-flex;
  transition: background-color 1s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


/* Home About us */
.home-aboutus{
  text-align: justify;
  font-family: 'Berlin Sans FB', sans-serif;
  font-size: 12pt;
  background-color: rgb(244, 181, 208);
  padding: 50px 180px 80px 180px;
}
#judulhome{
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 30pt;
}
#image-floatleft {
    float: left;
    margin-right: 200px;
}

.home-ourservices{
  text-align: justify;
  font-family: 'Berlin Sans FB', sans-serif;
  font-size: 12pt;
  background-color: white;
  padding: 50px 180px 80px 180px;
}



/*Contact Us*/
.pagetitle-bg{
    background-image: url("/images/pic_judulhalaman.jpg");
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    color: white;
    padding-top: 75px;
    margin-top: 20px;
    margin-bottom: 30px;
}
#pagetitle{
  font-family: 'Back to Black Demo', serif;
  font-size: 30pt;
  text-align: center;
}

#pagetitle-addr{
  font-family: 'Berlin Sans FB', sans-serif;
  font-size: 14pt;
  text-align: center;
}

#contenttitle{
  font-size:30pt;
  padding:20px;
}

.contactus, .paket{
  font-family: 'Berlin Sans FB', sans-serif;
  font-size:12;
}

ul{
  list-style-type:none;
  text-indent: 100px;
  text-align: left;

}

/*maps*/
.mapouter{
  text-align:center;
  margin: 50px auto;
  height:500px;
  width:1200px;
  display: block;
}

.img-pcentre{
  display: block;
  margin: 30px auto;
  }

.pcentre{
  text-align: center;
  display: block;
  margin: 30px auto;
  width: 60%;
}

/*tabel paket*/
table {
    border-collapse: collapse;
    margin: 50px auto 50px auto;
}

table, td, th {
    border: 1px solid black;
}

.post{
  padding: 30px 150px;
  text-align: justify;
}

#allevents{
  color: orange;
  text-decoration: none;
  font-size: 20px;
}

#posttitle{
  font-size:30pt;
}

.detailpost{
  background-color: white;
  padding: 30px 0;
}

#detailpost-btn{
  background-color: rgb(176, 75, 135);
  display: inline-block;
  padding: 10px;
  color: black;
  text-decoration: none;
  margin-bottom: 10px;
  margin-right: 10px;
}

#detailpost-btn:hover{
  background-color: rgb(244, 100, 208);
}

.detailpost-info{
    background-color: rgb(244, 181, 208);
  padding: 20px;
}

.events{
  padding: 40px 0;
}

.post-short{
  padding: 0 200px;
  text-align: justify;
}

#posttitle-short{
  font-size:20pt;
}

.img-postshort{
  float: left;
  margin: 10px ;
  width: 30%;
}

.pjustify{
  text-align: justify;
  display: block;
  margin: 10px auto;
  padding-bottom: 30px;
  border-bottom-style: solid;
  border-color: rgb(225, 225, 225);
  border-width: 1pt;
}

#more{
  color: orange;
  display: inline;
}
